*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: aqua;
}
.card{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 50px auto;
    text-align: center;
}
.content h1{
    font-size: 50px;
    margin: 20px 0 10px 0;
}
.content button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
