*{
    margin: 0;
    padding: 0%;
}
body{
    background-color: bisque;

}
.outline{
    border:2px solid red;  
}
.image{
    margin:10px 300px ;
    width: 300px;

}
.content h1{
    font-size: 60px;
    margin:10px 680px ;
    border: ;
}
.content p{
    font-size: 30px;
    margin: 10px 600px;
}
.content button{
    margin:10px 600px ;
    padding: 5px 10px;
}
